#help{
	position: fixed;
	bottom: -372px;
	right: 0;
}

#contentMsg{
	height: 200px;
	overflow-y: auto;
}
#contentMsg #chat{
	list-style: none;
}
#contentMsg #chat li{
    margin-top: 5px;
}
#contentMsg #profile{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}







/*Css fullsreen on desktop*/

.menuFullScreen .nav-item:hover{
	border-left: 6px solid rgba(0,198,255, .1);
	transition: 0.5s;
}
.overlay { 
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center; 
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    text-decoration: none;
}

.overlay .closebtn {
    position: absolute;
    top: -10px;
    right: 15px;
    font-size: 60px;
}

.overlay .closebtn:hover{
	color: #000;
}

.menuFullScreen-content img{
    height: 208px;
    max-height: 208px;
}

.menuFullScreen-content .card-img-overlay{
	background-color: rgba(0,0,0, 0.7);
	font-weight: bold;
}

.menuFullScreen-content .card-img-overlay h5{
	font-size: 25px;
}

.searchBar-content{
	display: none;
}


#main{
	background-color: #f1f1f1;
}

.title-label, .bg-rnews, .singbg-btn{
	color: #000;
	background: #00c6ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #00c6ff, #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.singinButton{
	color: #000;
	background: rgba(0,198,255, .1);  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, rgba(0,198,255, .1), rgba(0,114,255, .1));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, rgba(0,198,255, .1), rgba(0,114,255, .1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: not-allowed;
}



/*Css sidebar on mobile*/
nav .sidenavLeft .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

nav .sidenavLeft {
	margin-top: 40px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow: auto;
    transition: 0.5s;
    padding-top: 60px;
}

nav .sidenavLeft .close a{
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

nav .sidenavLeft .close a:hover{
	color: #f1f1f1;
}

nav .sidenavLeft .li a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

nav .sidenavLeft .li a:hover {
    color: #f1f1f1;
    background: #333;
}

nav .sidenavLeft .abo-li a{
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
/*end*/

.title-mo a{
	text-decoration: none;
}
.card a{
	color: #333;
}

.card a:hover,
.title-mo a:hover,
.opinion-items a:hover,
.footer-item a:hover,
.media a:hover{
	text-decoration: none;
	color: #555;
}

.footer-item a{
	color: #888;
}

.carousel-inner img{
		max-height: 400px;
}

.badge{
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 7px;
	margin-left: 7px;
	padding: 15px;
}

.badge-small{
	background-color: #1abc9c;
}

.carousel-caption-bg{
		background-color: rgba(0, 0, 0, 0.6);
		bottom: 0;
	}

/**---------------------------ABONNEMENT-----------------------------------**/
#xbar span::before{
	content: "";
	height: 2px;
	width: 55px;
	display: inline-block;
	border-bottom: 2px solid #fc3d3d;
	margin-top: 5px;
	position: absolute;
	top: 76%;
	-ms-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	transform: rotate(-13deg);
	margin-left: -15px;
}


@media (max-width: 575.98px) {
	
}


@media (max-width: 767.98px) {
	#main {
		margin-top: 40px;
		width: auto;
    	transition: margin-left .5s;
	}
	.opinion-items img{
		max-width: 100px;
		max-height: 100px;
	}

	.sections-titles h3{
		font-size: 20px;
	}

	.media img{
		max-width: 80px;
		max-height: 60px;
	}

	.carousel-caption h2{
		font-size: 18px;
	}

	.edition_card h3{
		font-size: 20px;
	}

	.header-mob .fa{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}

	.rubric-content{
		margin-top: 50px;
	}

	.rubric-content h2{
		font-size: 20px;
	}

	.rubric-content .card .nav-pills{
		font-size: 10px;
	}
}


@media (min-width: 992px) {
	.edition_card{
		position: fixed;
		overflow: auto;
		max-height: 400px;
		bottom: 0;
	}
}


@media (min-width: 768px) and (max-width: 991.92px) {
	.edition_card img{
		width: 700px;
		height: 1000px;
		margin: auto;
		display: block;
	}

	.carousel-caption h2{
		font-size: 22px;
	}

	.card h5{
		font-size: 16px;
	}

	.card p{
		font-size: 13px;
		text-align: justify;
	}

	.list-group-item h5{
		font-size: 15px;
	}

	.list-group-item p{
		font-size: 11px;
	}
}

/**---------------------------------------lectureBox Page-----------------------**/

.lectureBox-content{
	height: 100vh;
	background: #589;
	overflow: hidden;
}

#lectureBox-fistpage{
	margin-top: 70px;
	width: 10000px;
	display: inline-flex;
}

.lectureBox-nav{
	overflow: hidden;
}

.lectureBox-nav .nav{
	width: 10000px;
}